@charset "UTF-8";

$text-main: "Montserrat", sans-serif;
$text-heading: "Locator Black", sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

$fs-base: 18px;
$fs-title: 40px;
$fs-title-dk: 42px;
$fs-title-dk-large: 48px;
$fs-subtitle: 30px;
$fs-header: 23px;
$fs-header-dk: 20px;

$px-XS: 6px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #0a4d67;
$color-bg: #ffffff;
$color-accent: #228cbc;
$color-accent-2: #00adee;

$gradient-1: linear-gradient(
  180deg,
  rgba(34, 140, 188, 1) 0%,
  rgba(158, 216, 235, 1) 100%
);
$gradient-2: linear-gradient(
  159deg,
  rgba(231, 241, 244, 1) 0%,
  rgba(202, 227, 235, 1) 50%,
  rgba(171, 212, 224, 1) 100%
);

$transition: all 0.3s ease-in-out;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

html {
  scroll-behavior: smooth;
}

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background: #fff;
  background-color: $color-bg;
  max-width: 1300px;
  margin: auto;
  container: es-rc / inline-size;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .es-kv {
    background: $gradient-1;
    padding: 0 $px-M;
    overflow: hidden;
    position: relative;
    &__logo-img {
      width: 50%;
      max-width: 200px;
      margin-right: 0;
    }
    &__title,
    &__subtitle {
      font-family: $text-heading;
      font-weight: $fw-black;
      color: $color-bg;
      text-align: right;
      text-transform: uppercase;
    }
    &__headline-wrapper {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: $px-M;
      margin-top: $px-L;
    }
    &__title {
      font-size: $fs-title;
    }
    &__subtitle {
      font-size: $fs-header;
      background-color: $color-accent-2;
      padding: $px-S;
      width: 80%;
      max-width: max-content;
    }
    &__CTA {
      background-color: $color-bg;
      font-family: $text-heading;
      text-transform: uppercase;
      padding: $px-XS $px-S;
      font-size: calc(1.1 * $fs-base);
      transition: $transition;
      &:hover {
        background-color: $color-main;
        color: $color-bg;
      }
    }
    &__packs {
      &-wrapper {
        margin-top: -40px;
        width: 80%;
        max-width: 300px;
        position: relative;
        z-index: 1;
      }
      &-img {
        max-width: 400px;
        margin-bottom: -20px;
      }
      &-text {
        font-family: $text-heading;
        font-weight: $fw-black;
        color: $color-bg;
        text-transform: uppercase;
        font-size: $fs-header;
        outline: 1px solid $color-bg;
        padding: 2px 4px;
      }
      &__cialo {
        position: absolute;
        top: 7%;
        left: 36%;
        &::after {
          content: "";
          position: absolute;
          width: 80%;
          height: 17px;
          top: 100%;
          left: -29%;
          border-right: 1px solid $color-bg;
          border-bottom: 1px solid $color-bg;
        }
      }
      &__twarz {
        position: absolute;
        top: 34%;
        left: 75%;
        &::after {
          content: "";
          position: absolute;
          width: 80%;
          height: 17px;
          top: 100%;
          left: -29%;
          border-right: 1px solid $color-bg;
          border-bottom: 1px solid $color-bg;
        }
      }
    }
    .es-snowflake {
      position: absolute;
      z-index: 0;
      &--1 {
        width: 50px;
        top: 3%;
        left: 2%;
        opacity: 0.5;
        animation: snowflake-1 24s linear infinite;
      }
      &--2 {
        width: 40px;
        top: 61%;
        right: 2%;
        opacity: 0.4;
        animation: snowflake-2 20s linear infinite reverse;
      }
      &--3 {
        width: 80px;
        bottom: 5%;
        left: 70%;
        opacity: 0.6;
        animation: snowflake-3 28s linear infinite;
      }
      &--4 {
        display: none;
      }
    }
    @container es-rc (min-width: 450px) {
      &__packs {
        &__cialo {
          top: 11%;
          left: 39%;
        }
        &__twarz {
          top: 36%;
          left: 74%;
        }
      }
      .es-snowflake {
        &--1 {
          top: 7%;
          left: 8%;
        }
        &--2 {
          right: 7%;
        }
        &--3 {
          left: 64%;
        }
      }
    }
    @container es-rc (min-width: 600px) {
      .es-snowflake {
        &--4 {
          display: block;
          width: 30px;
          top: 47%;
          left: 49%;
          opacity: 0.5;
          animation: snowflake-1 22s linear infinite reverse;
        }
      }
    }
    @container es-rc (min-width: 800px) {
      padding-top: $px-M;

      &__headline-wrapper {
        gap: $px-S;
      }
      &__title {
        font-size: $fs-title-dk;
      }
      &__subtitle {
        font-size: $fs-header-dk;
      }
      &__packs-wrapper {
        margin-top: -195px;
        max-width: 260px;
      }
      .es-snowflake {
        &--1 {
          top: 5%;
          left: 28%;
        }
        &--2 {
          top: 5%;
          right: 58%;
          width: 20px;
        }
        &--3 {
          bottom: 14%;
          left: 36%;
          width: 40px;
        }
        &--4 {
          top: 18%;
          left: 1%;
        }
      }
    }
    @container es-rc (min-width: 980px) {
      padding: $px-L $px-L 0 $px-L;
      &__title {
        font-size: $fs-title-dk-large;
      }
      .es-snowflake {
        &--1 {
          width: 60px;
        }
        &--2 {
          width: 30px;
        }
        &--3 {
          width: 45px;
        }
        &--4 {
          width: 40px;
        }
      }
    }
    @container es-rc (min-width: 1100px) {
      &__headline-wrapper {
        gap: $px-M;
      }
      &__title {
        font-size: 60px;
      }
      &__subtitle {
        font-size: 24px;
      }
      &__CTA {
        font-size: calc(1.2 * $fs-base);
      }
      &__packs-wrapper {
        margin-top: -223px;
        max-width: 320px;
      }
    }
    @container es-rc (min-width: 1200px) {
      &__packs-wrapper {
        margin-top: -265px;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones
  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  .es-section {
    padding: $px-M $px-M 0 $px-M;
    background: $gradient-2;
    &__title {
      font-family: $text-heading;
      font-size: $fs-title;
      font-weight: $fw-black;
      margin-bottom: $px-M;
      text-transform: uppercase;
      &--span {
        font-size: $fs-subtitle;
        display: block;
      }
    }
    &__subtitle {
      font-size: $fs-header;
      margin-bottom: $px-M;
    }
    &__list {
      margin-block: $px-L;
      ul {
        padding-inline-start: 20px;
        margin-block: 0;
      }
    }
    &__CTA {
      display: inline-block;
      margin-top: $px-M;
      background-color: $color-main;
      color: $color-bg;
      font-family: $text-heading;
      text-transform: uppercase;
      padding: $px-XS $px-S;
      font-size: calc(1.1 * $fs-base);
      transition: $transition;
      &:hover {
        background-color: $color-bg;
        color: $color-main;
        outline: 1px solid $color-main;
      }
    }
    &__picture {
      display: block;
      width: 80%;
      margin-right: 0;
      max-width: 250px;
    }
    &__packshot {
      position: relative;
      z-index: 1;
    }
    .es-snowflake {
      position: absolute;
      z-index: 0;
      &--1 {
        width: 80px;
        z-index: -1;
        opacity: 0.5;
        animation: snowflake-1 24s linear infinite;
      }
      &--2 {
        width: 70px;
        z-index: -1;
        opacity: 0.4;
        animation: snowflake-2 20s linear infinite reverse;
      }
      &--3 {
        width: 70px;
        z-index: -1;
        opacity: 0.6;
        animation: snowflake-3 28s linear infinite;
      }
    }
    @container es-rc (min-width: 450px) {
      &__description {
        display: flex;
        align-items: end;
      }
      &__list {
        width: 95%;
      }
      &__picture {
        width: 100%;
      }
    }
  }

  .es-hyalu-serum {
    .es-snowflake {
      position: absolute;
      z-index: 0;
      &--1 {
        width: 80px;
        top: -9%;
        left: 72%;
        z-index: -1;
        opacity: 0.5;
        animation: snowflake-1 24s linear infinite;
      }
      &--2 {
        width: 70px;
        top: 41%;
        right: 11%;
        z-index: -1;
        opacity: 0.4;
        animation: snowflake-2 20s linear infinite reverse;
      }
      &--3 {
        width: 70px;
        bottom: 11%;
        left: 28%;
        z-index: -1;
        opacity: 0.6;
        animation: snowflake-3 28s linear infinite;
      }
    }
    @container es-rc (min-width: 450px) {
      .es-snowflake {
        &--1 {
          top: -19%;
          left: 38%;
        }
        &--3 {
          width: 60px;
          left: -20%;
        }
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* Animations */
  @keyframes snowflake-1 {
    0% {
      transform: rotate(0deg);
      opacity: 0.5;
    }
    50% {
      opacity: 0.7; // +0.2
    }
    100% {
      transform: rotate(360deg);
      opacity: 0.5;
    }
  }

  @keyframes snowflake-2 {
    0% {
      transform: rotate(0deg);
      opacity: 0.4;
    }
    50% {
      opacity: 0.2; // -0.2
    }
    100% {
      transform: rotate(360deg);
      opacity: 0.4;
    }
  }

  @keyframes snowflake-3 {
    0% {
      transform: rotate(0deg);
      opacity: 0.6;
    }
    50% {
      opacity: 0.8; // +0.2
    }
    100% {
      transform: rotate(360deg);
      opacity: 0.6;
    }
  }
}
