@charset "UTF-8";

$text-main: "Montserrat", sans-serif;
$text-heading: "Locator Black", sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-base: 16px;
$fs-header: 32px;

$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 40px;

$color-main: #0a4d67;
$color-bg: #ffffff;
$color-accent: #228cbc;
$color-accent-2: #00adee;

$gradient-1: linear-gradient(
  180deg,
  rgba(34, 140, 188, 1) 0%,
  rgba(158, 216, 235, 1) 100%
);
$gradient-2: linear-gradient(
  159deg,
  rgba(231, 241, 244, 1) 0%,
  rgba(202, 227, 235, 1) 50%,
  rgba(171, 212, 224, 1) 100%
);

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 1300px;
  margin: auto;

  ::selection {
    background-color: $color-accent-2;
    color: #fff;
  }

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  button {
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .es-section-title {
    font-family: $text-heading;
    font-size: $fs-header;
    font-weight: $fw-bold;
    text-align: center;
    margin-block: $px-M;
  }

  .es-section {
    padding: $px-M;
    background: $gradient-2;
  }

  .es-kv {
    background: $gradient-1;
    padding: $px-M $px-M 0 $px-M;
    &__logo-img {
      width: 50%;
      max-width: 200px;
      margin-right: 0;
    }
    &__title,
    &__subtitle {
      font-family: $text-heading;
      color: $color-bg;
      text-align: right;
      text-transform: uppercase;
    }
    &__packs {
      &-wrapper {
        overflow: hidden;
      }
      &-img {
        max-width: 400px;
        margin-bottom: -16px;
      }
    }
  }

  // Swiper styles, reset some of the inherent ones
  .es-slider {
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-next:after {
      content: "";
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: unset;
      height: unset;
      position: static;
      justify-content: unset;
      margin: 0;
      display: unset;
    }
    &__buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &--prev__img,
      &--next__img {
        display: block;
        width: 32px;
        height: 32px;
        margin: 0;
      }
      &--prev__img {
        transform: rotate(180deg);
      }
    }
  }

  // accessibility improvement for animations
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
