html {
  scroll-behavior: smooth;
}

#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #0a4d67;
  background: #fff;
  background-color: #ffffff;
  max-width: 1300px;
  margin: auto;
  container: es-rc/inline-size;
  /* Animations */
}
#es-rc #es-rc-content ::-moz-selection {
  background-color: #00adee;
  color: #fff;
}
#es-rc #es-rc-content ::selection {
  background-color: #00adee;
  color: #fff;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content button {
  display: block;
}
#es-rc #es-rc-content a {
  text-decoration: none;
  color: inherit;
}
#es-rc #es-rc-content .es-section-title {
  font-family: "Locator Black", sans-serif;
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  margin-block: 16px;
}
#es-rc #es-rc-content .es-section {
  padding: 16px;
  background: linear-gradient(159deg, rgb(231, 241, 244) 0%, rgb(202, 227, 235) 50%, rgb(171, 212, 224) 100%);
}
#es-rc #es-rc-content .es-kv {
  background: linear-gradient(180deg, rgb(34, 140, 188) 0%, rgb(158, 216, 235) 100%);
  padding: 0 16px;
  overflow: hidden;
  position: relative;
}
#es-rc #es-rc-content .es-kv__logo-img {
  width: 50%;
  max-width: 200px;
  margin-right: 0;
}
#es-rc #es-rc-content .es-kv__title, #es-rc #es-rc-content .es-kv__subtitle {
  font-family: "Locator Black", sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
}
#es-rc #es-rc-content .es-kv__headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  margin-top: 24px;
}
#es-rc #es-rc-content .es-kv__title {
  font-size: 40px;
}
#es-rc #es-rc-content .es-kv__subtitle {
  font-size: 23px;
  background-color: #00adee;
  padding: 8px;
  width: 80%;
  max-width: -moz-max-content;
  max-width: max-content;
}
#es-rc #es-rc-content .es-kv__CTA {
  background-color: #ffffff;
  font-family: "Locator Black", sans-serif;
  text-transform: uppercase;
  padding: 6px 8px;
  font-size: 19.8px;
  transition: all 0.3s ease-in-out;
}
#es-rc #es-rc-content .es-kv__CTA:hover {
  background-color: #0a4d67;
  color: #ffffff;
}
#es-rc #es-rc-content .es-kv__packs-wrapper {
  margin-top: -40px;
  width: 80%;
  max-width: 300px;
  position: relative;
  z-index: 1;
}
#es-rc #es-rc-content .es-kv__packs-img {
  max-width: 400px;
  margin-bottom: -20px;
}
#es-rc #es-rc-content .es-kv__packs-text {
  font-family: "Locator Black", sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 23px;
  outline: 1px solid #ffffff;
  padding: 2px 4px;
}
#es-rc #es-rc-content .es-kv__packs__cialo {
  position: absolute;
  top: 7%;
  left: 36%;
}
#es-rc #es-rc-content .es-kv__packs__cialo::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 17px;
  top: 100%;
  left: -29%;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
#es-rc #es-rc-content .es-kv__packs__twarz {
  position: absolute;
  top: 34%;
  left: 75%;
}
#es-rc #es-rc-content .es-kv__packs__twarz::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 17px;
  top: 100%;
  left: -29%;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
#es-rc #es-rc-content .es-kv .es-snowflake {
  position: absolute;
  z-index: 0;
}
#es-rc #es-rc-content .es-kv .es-snowflake--1 {
  width: 50px;
  top: 3%;
  left: 2%;
  opacity: 0.5;
  animation: snowflake-1 24s linear infinite;
}
#es-rc #es-rc-content .es-kv .es-snowflake--2 {
  width: 40px;
  top: 61%;
  right: 2%;
  opacity: 0.4;
  animation: snowflake-2 20s linear infinite reverse;
}
#es-rc #es-rc-content .es-kv .es-snowflake--3 {
  width: 80px;
  bottom: 5%;
  left: 70%;
  opacity: 0.6;
  animation: snowflake-3 28s linear infinite;
}
#es-rc #es-rc-content .es-kv .es-snowflake--4 {
  display: none;
}
@container es-rc (min-width: 450px) {
  #es-rc #es-rc-content .es-kv__packs__cialo {
    top: 11%;
    left: 39%;
  }
  #es-rc #es-rc-content .es-kv__packs__twarz {
    top: 36%;
    left: 74%;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--1 {
    top: 7%;
    left: 8%;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--2 {
    right: 7%;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--3 {
    left: 64%;
  }
}
@container es-rc (min-width: 600px) {
  #es-rc #es-rc-content .es-kv .es-snowflake--4 {
    display: block;
    width: 30px;
    top: 47%;
    left: 49%;
    opacity: 0.5;
    animation: snowflake-1 22s linear infinite reverse;
  }
}
@container es-rc (min-width: 800px) {
  #es-rc #es-rc-content .es-kv {
    padding-top: 16px;
  }
  #es-rc #es-rc-content .es-kv__headline-wrapper {
    gap: 8px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 42px;
  }
  #es-rc #es-rc-content .es-kv__subtitle {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-kv__packs-wrapper {
    margin-top: -195px;
    max-width: 260px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--1 {
    top: 5%;
    left: 28%;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--2 {
    top: 5%;
    right: 58%;
    width: 20px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--3 {
    bottom: 14%;
    left: 36%;
    width: 40px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--4 {
    top: 18%;
    left: 1%;
  }
}
@container es-rc (min-width: 980px) {
  #es-rc #es-rc-content .es-kv {
    padding: 24px 24px 0 24px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 48px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--1 {
    width: 60px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--2 {
    width: 30px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--3 {
    width: 45px;
  }
  #es-rc #es-rc-content .es-kv .es-snowflake--4 {
    width: 40px;
  }
}
@container es-rc (min-width: 1100px) {
  #es-rc #es-rc-content .es-kv__headline-wrapper {
    gap: 16px;
  }
  #es-rc #es-rc-content .es-kv__title {
    font-size: 60px;
  }
  #es-rc #es-rc-content .es-kv__subtitle {
    font-size: 24px;
  }
  #es-rc #es-rc-content .es-kv__CTA {
    font-size: 21.6px;
  }
  #es-rc #es-rc-content .es-kv__packs-wrapper {
    margin-top: -223px;
    max-width: 320px;
  }
}
@container es-rc (min-width: 1200px) {
  #es-rc #es-rc-content .es-kv__packs-wrapper {
    margin-top: -265px;
  }
}
#es-rc #es-rc-content .es-slider .swiper-button-prev:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-button-next:after,
#es-rc #es-rc-content .es-slider .swiper-rtl .swiper-button-next:after {
  content: "";
}
#es-rc #es-rc-content .es-slider .swiper-button-next,
#es-rc #es-rc-content .es-slider .swiper-button-prev {
  width: unset;
  height: unset;
  position: static;
  justify-content: unset;
  margin: 0;
  display: unset;
}
#es-rc #es-rc-content .es-slider__buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img, #es-rc #es-rc-content .es-slider__buttons--next__img {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0;
}
#es-rc #es-rc-content .es-slider__buttons--prev__img {
  transform: rotate(180deg);
}
@media (prefers-reduced-motion: reduce) {
  #es-rc #es-rc-content * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@keyframes snowflake-1 {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes snowflake-2 {
  0% {
    transform: rotate(0deg);
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.4;
  }
}
@keyframes snowflake-3 {
  0% {
    transform: rotate(0deg);
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.6;
  }
}/*# sourceMappingURL=styles.css.map */